/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(to right, #ff4d4d, #4f46e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 640px) {
  /* Grid structure for larger screens (sm and above) */
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
